body {
    background-color: #1f1f1f;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-size: 15px ;
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
}

.container {
    width: 700px;
    margin: 0 auto;
}

img {
    width: 400px;
    border-radius: 20px;
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
      margin: 0 auto;
    }
}
  
@media (max-width: 720px) {
/* For a screen < 720px, this CSS will be read */
    .container {
        width: 500px;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
/* For a screen < 540px, this CSS will be read */
    .container {
        width: 300px;
        margin: 0 auto;
    }

    img {
        width: 200px;
        border-radius: 200px;
    }
}

.card1, .card2 {
    box-shadow: 10px 10px 30px #393939;
    background: #000;
    border-radius: 20px ;  
    margin: 30px;
    padding: 10px;
}

h1, h2 {
    color: #fff;
    font-family: 'Inconsolata', monospace;
    font-size: 50px ;
    line-height: 1.6;
    font-weight: 900;
    margin: 20px;
}

/* img {
    width: 400px;
    border-radius: 20px;
} */

h2 {
    font-size: 30px ;
    line-height: 1;
    font-weight: 500;
}


button {
    color: #fff;
    background-color: #2f2f2f;
    width: 100px;
    height: 50px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    border-color: #000;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    color: #000;
    background-color: #fff;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

a {
    color: #393939;
    font-size: 50px;
    box-shadow: 10px 10px 30px #393939;
}

a:hover {
    color: #fff
}
